@font-face {
  font-family: 'NotoSansMyanmar';
  src: url(../fonts/NotoSansMyanmar/NotoSansMyanmar-Regular.ttf);
}

@font-face {
  font-family: 'Zawgyi One';
  src: url(../fonts/ZawgyiOne/ZawgyiOne2008.ttf);
}

html, body, span, strong {
  font-family: 'NotoSansMyanmar', sans-serif;
}

.zawgyi {
  font-family: 'Zawgyi One';
}
