@font-face {
  font-family: 'NotoSansMyanmar';
  src: url(NotoSansMyanmar/NotoSansMyanmar-Regular.ttf);
}

@font-face {
  font-family: 'Zawgyi One';
  src: url(ZawgyiOne/ZawgyiOne2008.ttf);
}

html, body, span, strong {
  font-family: 'NotoSansMyanmar', sans-serif;
}

input {
  line-height: 150%;
  margin-bottom: 10pt;
}

.zawgyi {
  font-family: 'Zawgyi One';
}

#add-clue label {
  margin-right: 10px;
}

small {
  background: #000;
  color: #000;
  margin-left: 10px;
}

small:hover, small:active {
  color: #fff;
}

@media print {
  small, #add-clue, .no-print {
    display: none;
  }
}
